{% extends 'layout.html' %}
{% block content %}
<div class="main" >
  <div class="scrim">
    <p>Welcome!, Let me guide you in your solutions journey!</p>
  </div>
</div>
<div class="grid">
  <div class="description">
    <section class="intro">
      <p>Hello, My name is Rafael Pietri-Davila.</p><br>
      <p>I design and build both front-end and back-end applications using Python.</p><br>
      <p>If you would like to see my certification, please click <a href="">here</a>. </p><br>
      <p>To view my projects, please click the link in the navigation bar on the left.</p>
    </section>
  </div>
</div>
{% endblock content %}
