<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
  <link rel="icon" type="image/png" href={{ url_for ('static', filename="favicon.jpg") }}/>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  <title>{{ title }}</title>
</head>
<body>
  <div id="flash-messages">
  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <ul class=flashes>
    {% for category, message in messages %}
      <li class="{{ category }}">{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
  {% endwith %}
  </div>
  <header>
    <div class="nav-bar">
      <nav  class="nav_bar_nav sticky">
        <ul class="link_list">
          <li class="nav-links"><a href={{ url_for("home") }}>Home</a></li>
          <li class="nav-links"><a href={{ url_for("contact") }}>Contact</a></li>
          <li class="nav-links"><a href={{ url_for("projects") }}>Projects</a></li>
        </ul>
      </nav>
    </div>
  </header>
  <div>
      {% block content %}{% endblock content %}
  </div>
  <footer class="footer">
    <div class="footer-container">
        <div class="copyright">
          <p>&copy Copyright 2021, Designed by Rafael Pietri-Davila.</p>
        </div>
    </div>
  </footer>
  <script type="text/javascript" src="{{ url_for("static", filename='script.js') }}"></script>
</body>
</html>