<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
  <link rel="icon" type="image/png" href={{ url_for ('static', filename="favicon.jpg") }}/>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@521&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  <title>{{ title }}</title>
</head>
<body>
  <header>
    <div class="nav-bar">
      <nav  class="nav_bar_nav sticky">
        <ul class="link_list">
          <li class="nav-links"><a href={{ url_for("home") }}>Home</a></li>
          <li class="nav-links"><a href={{ url_for("contact") }}>Contact</a></li>
          <li class="nav-links"><a href={{ url_for("projects") }}>Projects</a></li>
        </ul>
      </nav>
    </div>
  </header>
  <div>
      {% block content %}{% endblock content %}
  </div>
  <footer class="footer">
    <div class="footer-container">
        <div class="skill-img-html"><img src="{{ url_for('static', filename='html.png') }}" alt="html" style="width: 40px; height: 40px"></div>
        <div class="skill-img-css"><img src="{{ url_for('static', filename='css3.png') }}" alt="css3" style="width: 30px; height: 40px"></div>
        <div class="skill-img-js"><img src="{{ url_for('static', filename='js.png') }}" alt="Java Script" style="width: 40px; height: 40px"></div>
        <div class="skill-img-py"><img src="{{ url_for('static', filename='python.png') }}" alt="Python" style="width: 40px; height: 40px"></div>
        <div class="skill-img-fl"><img src="{{ url_for('static', filename='flask.png') }}" alt="Flask" style="width: 40px; height: 40px"></div>
        <div class="copyright">
          <p>&copy Copyright 2021, Designed by Rafael Pietri-Davila, Using the Flask Framework.</p>
        </div>
    </div>
  </footer>
</body>
</html>