{% extends "layout.html" %}
{% block content %}
    <div class="twitter-content-background">
        <div class="twitter-content">
          <div class="twitter-form-wrapper">
            <div class="form-wrapper" id="twitter-form-1">
              <form method="POST" action="{{ url_for('twitter')}}">
                  {{ form.csrf_token }}
                <div class="subject">
                  {{ form.country.label }}
                    {% if form.country.errors %}
                      {{ form.country }}
                      <div class="error">
                        {% for error in form.country.errors %}
                          <span>{{ error }}</span>
                        {% endfor %}
                      </div>
                    {% else %}
                        {{ form.country }}
                    {% endif %}
                  <div class="button-container">
                    {{ form.submit1 }}
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
    </div>
{% endblock content %}