/*layout*/
html {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
}

body {
    margin: 0;
}

/*Nav Bar*/
.link_list {
    position: static;
    display: inline-flex;
    justify-content: flex-end;
    align-content: space-around;
    list-style-type: none;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #02334b;
}

.nav-links {
    font-size: large;
}

.link_list a {
    display: inline-block;
    margin: 16px 16px;
    color: white;
    text-decoration: none;
}

/* Change the link color to blue on hover */
.nav-links:hover {
  background-color: #8EBDD4;
}

/*home page*/

.main {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("homepage.jpg");
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.scrim {
    display: flex;
    flex-flow: wrap;
    align-content: center;
    justify-content: center;
    font-size: 4rem;
    margin-top: 20px;
    text-shadow: 1px 1px black;
    color: #f0f8ff;
}

/*home-page body*/
.container {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    height: 560px;
    width: 100%;
}

.description {
    max-height: 500px;
    width: 100%;
}

.description {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    margin: 50px;
    font-size: 2rem;
    color: #F0F8FF;
}

.description a {
    padding-left: 10px;
}


/*contact page*/
/*contact form*/

.contact_background {
    display: flex;
    justify-content: center;
    align-content: center;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("planning.jpg") no-repeat, fixed;
    background-size: cover;
    height: 800px;
}
.flashes {
    padding: 0;
    margin: 0;
}
.success {
    display: flex;
    justify-content: center;
    background-color: darkolivegreen;
    color: #F0F8FF;
    font-size: medium;
    padding: 10px;

}

.form-wrapper {
    margin-top: 100px;
    height: auto;
    width: 45%;
}

label {
    font-size: 2rem;
    color: #f0f8ff;
}

input[type=text], input[type=email], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;

}

.name {
    margin-top: 10px;
}

.email {
    margin-top: 10px;
}

.body {
    margin-top: 10px;
}
.subject {
    margin-top: 10px;
}

.button-container {
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
}

#submit {
    background-color: #02334b;
    color: #ffffff;
    border-radius: 10px;
    border: none;
    height: 40px;
    width: 10rem;
    margin: 10px 10px;
    font-size: medium;
}
/*button Hover*/
#submit:hover {
  background-color: #8EBDD4;
}

/*projects page*/
.project_background {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("webdesign.jpg") no-repeat;
    background-size: cover;
    min-height: 100vh;
    max-height: fit-content ;
    width: auto;
}
.project-grid {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
    padding: 50px 50px 50px 50px;
}

.card {
    cursor: pointer;
    justify-content: center;
    font-size: 1.5rem;
    height: 100%;
    width: 100%;
    background-color: #F0F8FF;
    border-radius: 10px;
    box-shadow: black 5px 5px 10px;


}

/*Center all divs from the card element*/
.card > div {
    display: flex;
    justify-content: center;
}
/*card sections*/

.card-title {
    background-color: #02334B;
    border-radius: 10px 10px 0 0 ;
    color: #F0F8FF;
    font-size: 1.5rem;
    text-align: center;
}

.project-description {
    padding: 0 10px 0 10px;
}

#submit3 {
    background-color: #02334b;
    color: #ffffff;
    border-radius: 10px;
    border: none;
    height: 40px;
    width: auto;
    margin: 10px 10px;
    font-size: medium;
}

#submit3:hover {
    background-color: #8EBDD4;
    cursor: pointer;
    color: #02334b;
}

/*card animation*/
.card { transition: all .2s ease-in-out; }
.card:hover { transform: scale(1.1); }
/*twitter page*/

.twitter-content-background {
    display: flex;
    justify-content: center;
    align-content: center;
    background-size: cover;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("data.jpg") no-repeat;
    height: 90vh;
    width: 100%;
    background-size: cover;
}
.twitter-content {
    align-content: center;
    min-height: 500px;
    width: 70%;
    margin: 50px;
}

.twitter-form-wrapper {
    grid-column: span 3;
    grid-row: span 3;
}

#twitter-form-1 {
    height: 100%;
    width: 100%;
    margin-top: 0;
    grid-row: span 2;
}

#form1 {
    height: auto;
    width: auto;
}
#submit1 {
    background-color: #02334b;
    color: #ffffff;
    border-radius: 10px;
    border: none;
    height: 40px;
    width: auto;
    margin: 10px 10px;
    font-size: medium;
}


.graph {
    align-items: center;
    grid-column: span 8;
    grid-row: auto;
}

#graph-data {
    height: 100%;
    width: 100%;
}

.table-container {
    overflow: auto;
    justify-content: center;
    height: auto;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    text-align: center;
    font-size: 20px;
    color: #F0F8FF
}

td {
    text-align: center;
    border: black 1px;
    position: center;
    font-size: 20px;
}

tr:nth-child(even) {
    background-color: #306d9e;
    color: #F0F8FF;
}
tr:nth-child(odd) {
    background-color:#02334B;
    color: #F0F8FF;
}

/*footer*/

footer {
    display: flex;
    justify-content: center;
    margin-top: auto;
	position: relative;
	bottom: 0;
	width: auto;
    height: fit-content;
    background-color: #02334B ;
}
.footer-container {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(40px, 1fr));
    align-items: center;
    align-content: center;
    grid-gap: 2px;
    height: fit-content;
    width: 350px;
}

.copyright {
    justify-content: center;
    grid-row: 2;
    grid-column: span 4;
    color: #f0f8ff;
}

#OR-WebApp {
    background-color: #02334b;
    color: #ffffff;
    border-radius: 10px;
    border: none;
    height: 40px;
    width: auto;
    margin: 10px 10px;
    font-size: medium;
}

#OR-WebApp:hover {
    background-color: #8EBDD4;
    cursor: pointer;
    color: #02334b;
}
